* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  --color-black: #0d114f;
  --color-white: #fafafa;
  --color-red: #e83f5b;
  --color-light-blue: #e0ecff;
  --color-blue: #3485ff;
  --color-background: #fbfcff;
  --color-overlay: #040911;
  --color-icon-details: #a5b0c1;
  --color-grey-dark: #4d5e77;
  --color-grey-blue: #a1b2cd;
  --color-grey-medium: #d3d9e2;
  --color-grey-light: #e5eaf1;
  --color-hover-blue: #5699ff;
  --color-hover-red: #ea4b65;
  --color-hover-grey: #8794a7;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
.content {
  width: 100%;
  margin: 0 auto;
}
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* input and buttons */
button,
input,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  transition: filter 0.5s;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img .button > img {
  margin-left: 1rem;
  width: 2rem;
}
button.outlined,
.button.outlined {
  background: var(--color-white);
  color: var(--color-blue);
  border: 0.2rem solid var(--color-blue);
}

.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header imh {
  width: 16.7rem;
}
