<section>
  <h2>Crie sua própria sala<h2>
  <form action="/create-room" method="POST">
  <!-- Importante sempre criar um label em cima do input para os buscadores
  para que serve e para questões de acessibilidade.-->
      <label class="sr-only" for="room-pass">Insira uma senha</label>
      <input 
      name = password
      type="password" 
      id="room-pass" 
      placeholder="Código da sala"/>
      <button>
        <img src="assets/svgs/users-white.svg" alt="Criar Sala"/>
        Criar Sala
      </button>
  </form>
</section>
     