<section>
  <h2>Entre como Participante</h2>
  <form>
    <!-- Importante sempre criar um label em cima do input para os buscadores
  para que serve e para questões de acessibilidade.-->
    <label class="sr-only" for="room-id">Código da Sala</label>
    <input type="number" id="room-id" placeholder="Código da sala" />
    <button>
      <img src="assets/svgs/log-in.svg" alt="Entrar na sala" />
      Entrar na Sala
    </button>
  </form>
</section>
<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>
<section>
  <h2>Crie sua própria sala, de forma fácil</h2>
  <a href="/create-pass" class="button outlined">
    <img src="assets/svgs/users-blue.svg" alt="Criar Sala" />
    Criar Sala
  </a>
</section>
